.questionDiv{
    position: absolute;
    left: 50%;
    width: 350px;
    height: 200px;
    margin-left: -175px;
    text-align: center;
    visibility: hidden;
}
#score{
    display: inline block;
    position: relative;
}
#timer{
    display: inline block;
    position: relative;
    float: right;
}
.btn{
    display: block;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
#scoreDisplayDiv{
    position: absolute;
}
#table{
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;

}